@import url("https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&display=swap");

.NewsContainer {
  display: flex;
  width: 90%;
  flex-wrap: wrap;
}
.noticias {
  border: 2px solid gray;
  background: rgb(177, 177, 177);
  width: 50%;
  display: flex;
  display: inline-block;
  margin: 5px;
  border-radius: 10px;
  background: no-repeat center/100%
    url("../../assets/istockphoto-1252803732-612x612.jpg");
}
p {
  color: black;
}

.titulo {
  font-size: 30px;
  font-weight: 900;
  font-family: "IM Fell English SC", serif;
}

.contenido {
  font-size: 15px;
  margin: auto;
  margin-bottom: 10px;
  max-width: 80%;
}

.date {
  font-size: 10px;
  margin-left: 250px;
  margin-right: 250px;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  padding: 5px;
}

.foto {
  margin-bottom: 5px;
  width: 40%;
}

.button {
  background-color: #e46b46;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  border-radius: 2em;
  cursor: pointer;
}
.button:hover {
  opacity: 1;
}
