.noticias {
    border: 2px solid gray;
    background: rgb(177, 177, 177);
    width: 50%;
    display: flex;
    display: inline-block;
    margin: 5px;
    border-radius: 10px;
    background: no-repeat center/100% url("../../assets/fondo\ noticias.jpg");
}