.form-noticia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-line-pack: center;
      align-content: center;
  background: 100% url("../../assets/fondo noticias.jpg");
  width: 65%;
  margin: auto;
  border-radius: 10px;
  border: 2px solid gray;
  margin-top: 15px;
}

.form-noticia .encabezado {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-noticia .seccion1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-noticia .seccion2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-noticia .seccion3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.form-noticia .nombre {
  font-size: 25px;
  font-weight: 800;
}

.form-noticia input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
  font-size: 25px;
  margin: auto;
  margin-top: 15px;
  border-radius: 10px;
  border: 3px solid gray;
  padding: 10px;
}

.form-noticia textarea {
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
  font-size: 20px;
  margin: auto;
  margin-top: 15px;
  border-radius: 10px;
  border: 3px solid gray;
  max-width: 100px;
  min-width: 320px;
  max-height: 170px;
  min-height: 170px;
}

.form-noticia .titulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form-noticia .eslogan {
  font-size: 20px;
  font-weight: bold;
}

.form-noticia .foto {
  margin-left: 15px;
}

.form-noticia .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  margin: auto;
  font-size: 25px;
  border-radius: 5px;
  background: #b97d4b;
  color: black;
  margin-bottom: 10PX;
  margin-top: 10px;
  cursor: pointer;
}

.form-noticia .mensaje-home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 45%;
  margin: auto;
  margin-top: 15px;
  font-size: 25px;
  font-weight: 600;
}

.form-noticia .nombre {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  cursor: pointer;
  border: none;
  font: normal normal bold 50px/normal "Bad Script", Helvetica, sans-serif;
  color: rgba(0, 0, 0, 0);
  text-align: center;
  text-overflow: clip;
  text-shadow: 3px 0 0 black, 6px 0 0 white, 9px 0 0 black, 12px 0 0 white, 15px 0 0 black, 18px 0 0 white, 21px 0 0 black;
  -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-noticia .nombre:hover {
  text-shadow: -3px 0 0 white, -6px 0 0 black, -9px 0 0 white, -12px 0 0 black, -15px 0 0 white, -18px 0 0 black, -21px 0 0 white;
  -webkit-transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
/*# sourceMappingURL=NewNotice.css.map */